* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: yellow;
  border: 2px solid black;
  height: fit-content;
}
.blue {
  background-color: blue;
  color: aliceblue;
  margin: 4rem 0;
  bottom: 0px;
  position: relative;
  top: 50px;
}
.green {
  background-color: green;
  color: aliceblue;
  margin: 4rem 0;
}
span {
  color: palevioletred;
  background-color: aqua;
  border: 2px solid black;
}
