.container {
  /* margin: 7rem; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
}
/* .cell {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
} */
.cell-1 {
  order: 2;
}
.cell-6 {
  order: -1;
}
.cell-3 {
  order: 4;
}
.cell-5 {
  order: 3;
}
.cell-1 {
  background-color: #581f18;
}
.cell-2 {
  background-color: #f0a202;
}
.cell-3 {
  background-color: #d95d39;
}
.cell-4 {
  background-color: #202c59;
}
.cell-5 {
  background-color: #51cb20;
}
.cell-6 {
  background-color: grey;
}
